@font-face {
	font-family: "Adobe Notdef";
	src: url(assets/AND-Regular.otf) format("woff2");
}
@font-face {
	font-family: "Adobe Blank";
	src: url(assets/AdobeBlank.ttf.woff) format("woff");
	unicode-range: U+00-7F;
}
